<!DOCTYPE html>
<html>
<head>
  <style>
    h1 {
      color: blue;
    }
    p {
      font-size: 16px;
    }
  </style>
</head>
<body>
  <h1>Título</h1>
  <p>Parágrafo</p>
</body>
</html>

O que é CSS?
CSS (Cascading Style Sheets) é responsável pelo visual do site.
Ele controla:
cores
fontes
tamanhos
espaçamento
layout
responsividade (celular, tablet)
👉 O CSS é como a pintura e decoração da casa.
